pkgbase = ipsec-tools
	pkgdesc = IKEv1 key exchange daemon (racoon) and IPsec utilities — community-maintained Linux continuation
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/rdratlos/racoon-ipsec-tools
	install = ipsec-tools.install
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = autoconf
	makedepends = automake
	makedepends = libtool
	makedepends = flex
	makedepends = bison
	makedepends = pkgconf
	depends = openssl
	depends = libldap
	depends = linux-headers
	depends = pam
	depends = krb5
	options = debug
	backup = etc/racoon/racoon.conf
	backup = etc/ipsec-tools.conf
	backup = etc/conf.d/racoon
	backup = etc/conf.d/setkey
	source = ipsec-tools-0.9.1.tar.xz::https://github.com/rdratlos/racoon-ipsec-tools/releases/download/v0.9.1/ipsec-tools_0.9.1.tar.xz
	source = ipsec-tools.sysusers
	source = ipsec-tools.tmpfiles
	source = racoon.conf
	sha256sums = b05f01044661ff26b94c0169e56372fa4155e45055f5a55e42637de49174abe1
	sha256sums = 52f3c273e6c2e2cd0d9ee15e48ecdab07496af0b233fde0a59b6e69a02b25bee
	sha256sums = 4d350c44e28066b89c1faad341b1da6062fe63301116ba72c014119ccff772e5
	sha256sums = b0ebdac6c76d6221139b91679ea06f6b1f20edc50dbefe03ecefbc0375ae637b

pkgname = ipsec-tools
