[Unit]
Description=IPsec key exchange daemon (racoon)
Wants=setkey.service
After=setkey.service network.target

[Service]
Type=simple
EnvironmentFile=-/etc/conf.d/racoon
RuntimeDirectory=racoon
ExecStart=-/usr/bin/racoon -F $RACOON_ARGS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
